<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adonis CRUD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Category List</h2>
  <p>Following categories are currently available in out site</p>    
  <a href="{{route('/categories/create')}}" type="button" class="btn btn-primary btn-sm float-left">Add Category</a>        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>S.N.</th>
        <th>Category Name</th> 
        <th>Icon</th>
        <th>Slug</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      @each((category,index) in categories)
      <tr>
        <td>{{category ? index+1 : N/A}}</td>
        <td>{{category ? category.name : N/A}}</td>
        <td>{{category ? category.icon  : N/A}}</td>
        <td>{{category ? category.slug : N/A}}</td>
        <td>
          <a href="{{route('categories.edit',{id:category.id})}}" type="button" class="btn btn-primary btn-sm">Edit</a>
          <a href="{{route('categories.destroy',{id: category.id})}}" type="button" class="btn btn-danger btn-sm">Delete</a>
        </td>
        </tr>
      @endeach
    </tbody>
  </table>
</div>

</body>
</html>
